#dashboard
{
    background-color:#3333ff;
}

#dashboard a
{
    color:white;
}

th,td{
    font-size:20px;
}
#logout
{
    
    height: 30px;
    width:80px;
    margin-left:70%;
    margin-top:1%;
    background-color:white;
    border-radius:7px;
    font-size: 15px;
    color:#3333ff;
}