#header
{
    background-color:#3333ff;
    height:80px;
    width:100vw;
    position:absolute;
    top:0px;
    left:0px;
}

#sms a
{
    display:block;
    float:left;
    color:white;
    text-decoration-line:none;
    text-align:center;
    padding:2%;
    font-size:3em;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

#menu 
{
    display:block;
    float:right;
    margin-right:5%;

}

#menu a
{
    color:white;
    text-decoration-line:none;
    font-size:1.5em;
}

body
{

    height:100vh;
    width:100vw;
    /* margin and padding made to zero to avoid space around menu bar at the top  */
    margin:0px;
    padding:0px;

}

#menu li{
    display:inline;
    text-decoration-line:none;
}