#meetings
{
    background-color:midnightblue;
}
#meetings a{
    color:white;
}
#rightMenu
{
    margin-top:60px;
}
#notice,#meet
{
    width:50%;
    border:1px solid black;
}
#content
{
    border:1px solid black;
    width:80vw;
    height:90vh;
}


