
#notice,#meet
{
    width:50%;
    border:1px solid black;
}
#content
{
    border:1px solid black;
    width:80vw;
    height:90vh;
}
#logout
{
    
    height: 30px;
    width:80px;
    margin-left:70%;
    margin-top:1%;
    background-color:white;
    border-radius:7px;
    font-size: 15px;
    color:#3333ff;
}

