#complaint
{
    background-color:midnightblue;
}
#complaint a{
    color:white;
}
#rightMenu
{
    margin:0px;
    padding:0px;
    height:100vh;
}
#right
{
    margin:auto;
    margin-top:13%;
    margin-left:10%;
    height:70%;
    width:70%;
    background-color:rgba(225,225,225);
    border-radius: 10px;
}

#problem
{
    height:300px;
    width:100%;
    border-top:1px solid black;
    /* border-bottom:1px solid black; */
}

textarea{
    font-size:15px;
}

#submit,#reset
{
    height: 40px;
    width:100px;
    margin-left:30px;
    background-color:midnightblue;
    border-radius:7px;
    font-size: 15px;
    color:white;
}

table
{
    border:none;
}
#title
{
    border:none;
    outline:none;
    font-size:1.5em;
    width:100%;
    border-radius:5px;
}
#text
{
    border:none;
    outline:none;
    border-radius:10px;
}
